doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://cdn.bootcss.com/jquery/3.2.1/jquery.js')
    script window.album = "#{album}";
    script(src='/javascripts/main.min.js')
  body.album
    block content
