body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
body.album{
  background-color: black;
}
a {
  color: #00B7FF;
}
.title{
    text-align: center;
    z-index: 100;
    position: absolute;
    width: 100%;
    left: 0;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    -webkit-text-fill-color: rgb(92, 92, 92);
    text-stroke: 1px rgb(255, 255, 255);
    text-fill-color: rgb(92, 92, 92);
}
.photo{
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  vertical-align: middle;
  transform: translate(-50%,-50%);
}
.player{
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  opacity: 0;
}
.preload{
  position: fixed;
  top:-100px;
  left:-100px;
  width: 1px;
  height: 1px;
  visibility: hidden;
}
.photo.fade.animate ,.animate-children *{
	-webkit-transition: all 1.0s ease-in-out;
	   -moz-transition: all 1.0s ease-in-out;
	    -ms-transition: all 1.0s ease-in-out;
	     	  transition: all 1.0s ease-in-out;
}
.play-button{
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  font-size: 125px;
}
.play-button:after{
  content:'⏯';
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
}
